*deps/*.*o
aclocal.m4
config.h
osslsigncode
stamp-h*
*DS_Store*
Makefile
Makefile*orig

#.*#
.*.bak
.*.orig
.*.rej
.*~
#*#
*.bak
*.cache
*.d
*.def
*.dll
*.exe
*.la
*.lib
*.lo
*.log
*.orig
*.pdb
*.rej
*.u
*.rc
*.status
*.o
*.pc
*~
*.gz
*.bz2
*.dSYM
